.nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
   max-width: 80%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
 .logo-container{
    display: flex;
    gap:10px;
    align-items: center;
 }
 .items-container {
    display: flex;
 }
 .items-container > ul{
    display: flex;
 }
 .items-container li{
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    
    
 }
 .logo-text{
    font-size: 30px;
    font-weight: bold;
    
 }
 .game{
    color: #FF42A5;
    
    
 }
 .follow-block{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 14px 0px 14px;
    display: flex;
    align-items: center;
    gap: 18px;

 }
 .nav-link{text-decoration: none;}

 .follow-icon {width:30px;}

.banner-section {background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
   background-image: url(./images/banner\ bg.png);
   background-size: 50%;
   background-position: left;
   background-repeat: no-repeat;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-title{
    color: #0B0223;
font-size: 35px;
font-weight: 600;
text-transform: uppercase;
line-height: normal;
margin:0;
}
.banner-desc{
font-size: 75px;
font-weight: 800;
line-height: normal;
margin:0;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.container {
   max-width: 80%;
   margin: auto;
}
.banner-text {
   max-width: 50%;  
}
.banner-icon{
   display: flex;
   color: #534C64;
text-align: center;
font-size: 15px;
font-weight: 500;
align-items: center;
gap: 5px;
}
.btn-primary{
   border-radius: 48px;
   background: #FF42A5;
   color: #FFF;
   font-size: 15px;
   align-items: center;
   border: 0px;
   padding: 15px 20px;
   gap: 10px;
}
.btn-2{
   border-radius: 48px;
   background: #4EC5F7;
   color: #FFF;
   font-size: 15px;
   align-items: center;
   border: 0px;
   padding: 15px 20px;
   gap: 10px;
}
.banner-image-wrapper {
   max-width: 50%;
}
.width-100 {width: 100%;}
.gamer-section{
   display: flex;
   justify-content: space-between;
}
.padding-60{
   padding-top: 60px;
   padding-bottom: 60px;
}

.gamer-img-wrapper{width: 60%;}
.gamer-text-wrapper{
   max-width: 35%;
   display: flex;
   flex-direction: column;
   align-items: end;
}

.gamer-title{
   text-align: right;
   font-size: 35px;
   margin: 0;
   font-weight: 600;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-desc{
   color: #534C64;
   text-align: right;
   font-size: 18px;
   font-weight: 400;

}
.gamer-purpose{
   color: #534C64;
text-align: right;
font-size: 20px;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
.gamer-unleash{
   color: #534C64;
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 20px;
margin: 0;
text-align: right;
white-space: nowrap;

}

.games-collection-text{
   text-align: center;
}

   

.card-image-wrapper {position: relative;
border-radius: 8px;
overflow: hidden;
border: 2px solid transparent;
color: #FF42A5;
}
.card-overlay {
   background: #000;
   opacity: 0.3;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   
}
.watch {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 10;
   position: absolute;
}
.card-hover {
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
}
.card-hover:hover { 
   opacity: 1;
   border: 2px solid #FF42A5;
}

.card-section{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1.5rem;
margin: auto;
}
.games-online{
color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.games-funny{
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.games-collection{
   color: #534C64;
   text-align: right;
   font-family: Work Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 166.667% */

}
.games-collection-2{
   color: #534C64;
   text-align: left;
   font-family: Work Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 166.667% */
}

.games-play{
   display: flex;
   align-items: center;
   gap: 100px;
}
.games-image{
   margin-left: 90px;
   max-width: 70%;
   height: 70%;
}
.image-rectangle{
    position: relative;
    bottom: 150px;
    width: 32%;
}
.rec-div{position: relative;}
.image-rectangle-2{
   position: absolute;
   bottom: -80px;
   right: 0px;
   width: 32%;
}
.games-rectangle{
text-align: right;
margin-bottom: 200px;
max-width: 30%;

}

.games-rectangle-2{
   text-align: left;
   max-width: 40%;
   
   }
.games-career{
   
}
.games-career-text{
   display: flex;
}
.games-career-list{
   display: flex;
   gap: 20px;
}
.games-career-image{
   max-width: 50%;
}
.games-optional{
   display: flex;
}
.games-list{
   display: flex;
}
.games-items-1, .games-items-2, .games-items-3, .games-items-4, .games-items-5, .games-items-6, .games-items-7, .games-items-8, .games-items-9{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 12px;
   width: 15%;
   padding: 10px;
   background-color: #FFF;
   border-radius: 50px;
   color: #0B0223;
   font-family: Work Sans;
   font-size: 13px;
   font-weight: 600;
   line-height: normal;
   border:2px solid #FFF;
}
.games-items{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 10px;
   row-gap: 20px;
   
}
.game-items-bg { 
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.footer-section{
   background: #0B0223;
   padding-top: 60px;
   padding-bottom: 60px;
 
}
.logo-container{
   justify-content: center;
}
.footer-text{
   color: #FFF;
   text-decoration: none;
}
.footer-list-items > ul{
   display: flex;
   list-style: none;
   gap: 30px;
   color: #FFF;
   justify-content: center;
}
.footer-icon{
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
}
.footer-another-list > ul{
   display: flex;
   list-style: none;
   gap: 20px;
   color: #FFF;
   justify-content: center;
}
.text-align-center { 
   text-align: center;
}
.games-items-1:hover, .games-items-2:hover, .games-items-3:hover, .games-items-4:hover, .games-items-5:hover, .games-items-6:hover, .games-items-7:hover, .games-items-8:hover, .games-items-9:hover {
   border: 2px solid #F948B2 ;
   color: #F948B2;
}





/* mobile responsive */

 @media screen and (max-width:425px) {
   .nav-container, .items-container, .items-container ul {
    flex-direction: column;
}

.banner {
   flex-direction: column-reverse;
   gap: 40px;
}
.banner-text {
   max-width: none;  
}

.banner-image-wrapper { 
   max-width: none;
   margin-top: 40px;
}

.gamer-section {
   flex-direction: column;
   
}
.gamer-img-wrapper { width: auto;}
.gamer-text-wrapper {max-width: none;
   align-items: center;
justify-content: center;}
.gamer-title, .gamer-desc, .btn-primary, .gamer-purpose, .gamer-unleash {
   text-align: center;
}
.card-section{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}
.games-online{
   display: grid;
   grid-template-rows: repeat(nowrap);
}
 }

 /* tab responsive */

 /*@media screen and (max-width:768px) {
   .nav-container{
      margin-left: 20px;
      margin-right: 10px;
      max-width: 50%;
   }
   
 }*/